.conceptoWeb{
   
    
   
    background: #040611;
    padding-left: 30px 100px;
 
 }

 
 @media (min-width: 2150px){
   .conceptoWeb{
    margin-top: -6%;
    padding-left: 21px;
    padding-right: 33px;

 } 
 }