.contenedor{
   position: absolute;
    display: flex;
    justify-content: right;
    
    margin-left: 50px;
}

.banner__marcadoruno{
   
    width: 60%;
    height: 60%;
    position: relative;
  margin-left: 545px;
 
 }



 @media screen and (max-width: 768px){
   .banner__marcadoruno{
      width: 65%;
      height: 65%;
   margin-top: -4px;
    margin-left: 271px;
   }
  
}

