.banner__ilustracion{
    
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding-left: 30px 100px;
}

.banner__ilustracion::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 150%;
    height: 100px;
    background:linear-gradient(to top, #040611,transparent) ;
    z-index: 1000;
}

