.banner{
    position: relative;
    width: 100%;
    height: 150vh;
    padding-left: 30px 100px;
    display: flex;
    justify-content:center ;
    align-items: center;
    overflow:hidden;
   

   
   
}

.banner::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 150%;
    height: 100px;
    background:linear-gradient(to top, #040611,transparent) ;
    z-index: 1000;
}

@media screen and (max-width: 768px){
.banner{
    width: 110%;
    height: 154vh;
    padding-left: 15px 50px;
}
}

