.datos__personales{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 90px;
    
}

.redes{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.link{
    margin:0;
    padding: 0%;
}

.iconoUno{
    width: 20%;
  
}

.iconoDos{
    width: 45%;
}

.iconoTres{
    width: 80%;
    
}

.datos__foto{
height: 200px;
width: 200px;
margin-top: 1%;
margin-left: -19%;
margin-right: -19%;
border-radius: 100%;
}

.datos__nombre{
    color:#ffffff;
    font-family: Mermaid Babies;
    font-size: 4rem;
}

.datos__titulo{
    color:#ffffff;
    font-family: Mermaid Babies;
    font-size: 2rem;
    text-align: justify;
}

.datos__sobremi{
    margin-top: 3%;
    color:#ffffff;
    font-family: Belina Demo Regular;
    font-size: 1rem;
    text-align: justify;
    
}