.formacion__academica{
   
    padding: 60px;
    
}

.formacion__basica{
    display: flex;
    align-items: center;
}

.formacion__foto{
height: 200px;
width: 200px;
margin-top: 3%;
margin-left: 3%;
margin-right: 10%;
border-radius: 100%;
}



.formacion__titulo{
    color:#ffffff;
    font-family: Mermaid Babies;
    font-size: 3rem;
    text-align: justify;
}

.formacion__datos{
    margin-top: 3%;
    color:#ffffff;
    font-family: Belina Demo Regular;
    font-size: 2rem;
    text-align: justify;
    
}

@media screen and (max-width: 768px){

    .formacion__academica{
   
        padding: 109px;
        
    }
    .formacion__basica{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  
    .formacion__titulo{
        color:#ffffff;
        font-family: Mermaid Babies;
        font-size: 2rem;
        text-align: justify;
        margin-top: 3rem;
    }

    .formacion__datos{
        margin-top: 0%;
        color:#ffffff;
        font-family: Belina Demo Regular;
        font-size: 2rem;
        text-align: justify;
        
    }
    

}

