.habilidades__contenedor{
    width:100vh;
    height: 100vh;
    display: flex;
    flex-wrap:wrap;
}

.barra{
    margin-top: 15px;
    width: 350px;
    height: 20px;
    background: #00b8d4;
    border-radius: 10px;
}

.progreso{
    margin-top: 15px;
    width: var(--w);
    height: 100%;
    background: #18ffff;
    border-radius: 10px;
    animation: Aumentar 5s ease;
}

@keyframes Aumentar{
    0%{width: 0%;}
    100%{width: var(--w);}
}

.progreso :hover{
    animation: Aumentar 5s ease;
}

@media screen and (mix-width: 768px){
    .habilidades__contenedor{
        width:15vh;
        height: 100vh;
        margin-top: -64px;
        margin-left: 25px;
        padding-bottom: 25px;
      
        flex-wrap: nowrap;
       flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .barra{
        
        width: 418px;
        height: 20px;
        background: #00b8d4;
        border-radius: 10px;
    }
}

