.perfil{
  display: flex;
  justify-content: center;
  align-items: center;

}

.perfil__banner{
    margin-left: 20%;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    
}

.estrellas__perfil{

    top: 0;
    left: 0;
    width: 100%;
   
}

@media screen and (max-width: 768px){
  .perfil__banner{
      width: 90%;
      margin-left: 0%; 
  }

}

