.contenidoCuatro{
    width: 100%;
    display: flex;
   justify-content: center;
  
    max-width: 1100px;

  

}

@media screen and (max-width: 768px){

    .contenidoCuatro{
       
      
       max-width: 494px;
    
    }
    

}