.banner__titulo{
    font-size:6em;
    font-weight: 500;
    color: #1f526b;
    letter-spacing: 5px;
    cursor: pointer;
}

@media screen and (min-width: 2150px){
    .banner__titulo{
        font-size:5em;
        font-weight: 500;
    }
   
 }
 
 